<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="logout">Logout</a>
    <h1>Admin Portal</h1>
    <div class="usertable">
        <h3>Users Table</h3>
        <table>
            <thead>
                <td>Name</td>
                <td>Action</td>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><a href="edit_user/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></td>
                    <td><a href="">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="recordtable">
        <h3>Record Table</h3>
        <table>
            <thead>
                <td>Name</td>
                <td>Artist</td>
                <td>Genre</td>
                <td>Price</td>
                <td>Action</td>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td><a href="edit_record_page/{{ record.id }}">{{ record.name }}</a></td>
                    <td>{{ record.artist }}</td>
                    <td>{{ record.genre }}</td>
                    <td>${{ record.price }}</td>
                    <td><a href="edit_record_page/{{ record.id }}">Edit</a> <a href="remove_record/{{ record.id }}">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="artisttable">
        <h3>Artist Table</h3>
        <table>
            <thead>
                <th>Artist</th>
            </thead>
            <tbody>
                {% for artist in artists %}
                <tr>
                    <td><a href="edit_artist_page/{{ artist.id }}">{{ artist.name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="ordertable">
        <h3>Order Table</h3>
        <table>
            <thead>
                <td>Order #</td>
                <td>Status</td>
                <td>Action</td>
            </thead>
            <tbody>
                <!-- jinja code for filling order table with change status button -->
            </tbody>
        </table>
    </div>
    <a href="addrecord"><button>Add a Record</button></a>
</body>
</html>