<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Categories</title>
</head>
<body>
<div class="recordlist">
    <h1>Records in {{request.session.genre}}</h1>
    <table>
        <thead>
            <tr>
                <th>Record</th>
                <th>Artist</th>
                <th>Price</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for record in display %}
            <tr>
                <td><a href="/user/record/{{record.id}}">{{record.name}}</a></td>    
                <td>{{record.artist}}</a></td>   
                <td>$ {{record.price}}</td>   
                <td>{{record.description}}</td>   
                <td><a href="">Add to Cart</a></td>   
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<a href="/user/user_portal">Home</a>  
<a href="/logout">Logout</a>
</body>
</html>