<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Record</title>
</head>
<body>
    <h1>{{record.name}}</h1>
    <h1><img src={{record.rec_image}}></h1>
    <h3>{{record.description}}</h3>       
    <h3>{{record.genre}}</h3>       
    <h3>$ {{record.price}}</h3>
    <form method="post" action="/user/addrecord">
    {% csrf_token %}
        Quantity:
    <select name="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <input type="hidden" value={{record.id}} name="recordid">
    {{record.id}}
    <input type="submit" value="Add to Cart">
    </form>                           
</body>
</html>